<%- include('./partials/__header.ejs') %> <%-
include('./partials/__sidebar.ejs') %> <%- include('./partials/__navbar.ejs') %>
<!-- // Header ends -->

<!-- Card -->
<section class="card-container">
  <section class="card-heading">
    <h4>Articles</h4>
  </section>

  <!-- Table -->
  <div class="wrapper">
    <div class="content-wrapper" style="margin-left: 0">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Articles Table</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="content">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">List of Publish Articles</h3>
              </div>
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Main Image</th>
                      <th>Title</th>
                      <th>Author</th>
                      <th>Number of Comments</th>
                      <th>Number of Reactions</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(article) { %>
                      <% for(let row of article) { %>
                    <tr>
                      <td>
                        <img
                          src="<%= row.image ? '../uploads/post/' + row.image : '../img/author/default_profile_image.jpg' %>"
                          alt="image"
                          style="border-radius: 50%; width: 50px; height: 50px"
                        />
                      </td>
                      <td><%= row.title %></td>
                      <td><%= row.username %></td>
                      <td><%= row.totalComments %></td>
                      <td><%= row.total_reaction %></td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-success viewUserBtn"
                          data-id=""
                          data-fullname=""
                          data-username=""
                          data-email=""
                          data-profile=""
                          data-totalpost=""
                          onclick="alert('Sorry, you cannot edit this article because it has already been published by the author.')">
                          View
                        </button>
                        <button type="button" class="btn btn-danger" onclick="alert('You are not allowed to delete this Article.')">
                          Delete
                        </button>
                      </td>
                    </tr>
                    <% } %>
                    <% } else { %>
                    <tr>
                        <td colspan="6" class="text-center">No Published Articles! </td>
                    </tr>
                    <% } %>
                  </tbody>
                  <tfoot>
                    <tr>
                        <th>Main Image</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Number of Comments</th>
                        <th>Number of Reactions</th>
                        <th>Action</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<%- include('./partials/__footer.ejs') %>
