
      <!-- Header starts here -->
      <%- include('./partials/__profileheader.ejs') %>
      <!-- Header ends here--->
       
      <section class="main-profile-container"  id="main-container"style="background: #f9f9f9; overflow: hidden;">

        <span style="color: red; text-align: center;font-size: 0.9rem;"><%= message %> </span>


        <form method="post" class="edit-profile-container" enctype="multipart/form-data">
            <h3> Edit Profile</h3>
            <section class="change-profile-photo" >
                <label for="file">
                    <img  src="<%= userDetails && userDetails.profile_picture ? '../uploads/profile/' + userDetails.profile_picture : '../img/author/default_profile_image.jpg' %>" alt="<%= userDetails.username %> profile image" id="photo-preview" srcset="">
                    <input type="file" name="profilePhoto"  id="file" accept=".jpg, .jpeg, .png" hidden>
                </label>
                <span id="hint">Click on the image</span>
                <button type="button" id="removebtn">Remove</button>
            </section>
            
            <section class="edit-details">

                <section class="profile-form-control">
                    <label for="user-name">Username</label>
                    <input type="text" name="username" id="user-name" value="<%= userDetails.username %>">
                </section>
                
                <section class="profile-form-control">
                    <label for="full-name">Full Name</label>
                    <input type="text" name="full_name" id="full-name" value="<%= userDetails.full_name %>">
                </section>

                <section class="profile-form-control">
                    <label for="facebook-id">Facebook ID</label>
                    <input type="url" name="facebookID" id="facebook-id" value="<%= userDetails.facebook_id %>">
                </section>

                <section class="profile-form-control">
                    <label for="twitter-id">Twitter ID</label>
                    <input type="url" name="twitterID" id="twitter-id" value="<%= userDetails.twitter_id %>">
                </section>

                <section class="profile-form-control">
                    <label for="profession">Profession</label>
                    <input type="text" name="profession" id="profession" value="<%= userDetails.profession %>">
                </section>

                <section class="profile-form-control">
                    <label for="address">Address</label>
                    <input type="text" name="location" id="address" value="<%= userDetails.location %>">
                </section>

                <section class="profile-form-control">
                    <label for="bio">Bio</label>
                    <textarea name="bio" id="bio" cols="10" rows="4" ><%= userDetails.bio %></textarea>

                </section>

                <section class="profile-form-control">
                <input type="submit" value="Update">
                </section>
            </section>
        </form>
        <!-- <section class="user-profile-main-container">
          
        </section> -->

      </section>
    </section>
  
<script defer>

   let removebtn = document.querySelector('#removebtn');
   let hint = document.querySelector('#hint');
   let photoPlaceholder = document.querySelector('#photo-preview');
   let profilePhoto = document.querySelector('#file');


   profilePhoto.addEventListener('change', () => {

       const newFile = profilePhoto.files;
       let readFile = new FileReader();
    if(newFile){

        // console.log('File is uploaded: ', newFile[0]);
        // console.log('File is uploaded: ', newFile[0].name);
        readFile.onload = (event) => {
            photoPlaceholder.setAttribute('src', event.target.result);
        } 
        readFile.readAsDataURL(newFile[0]);
        hint.style.display = 'none';
        removebtn.style.display = 'block';
    }

    if(newFile){
        removebtn.addEventListener('click', () => {
            hint.style.display = 'block';
            removebtn.style.display = 'none';
            // let currentFile = newFile[0].name;
            // newSRC = `../img/author/author8.jpg`;
            // {currentFile} =  newSRC 
            photoPlaceholder.setAttribute('src', `../img/author/default_profile_image.jpg`);
            // console.log('File is removed: ', newFile[0].name);
        })
    }
   });
</script>
    <%- include('./partials/__profilefooter.ejs') %>