<%- include('./partials/__header.ejs') %>

<%- include('./partials/__sidebar.ejs') %>
<%- include('./partials/__navbar.ejs') %>

            <!-- Profile section starts -->
                    <section class="profile-wrapper-container">

                        <form method="post" class="profile-content-container">

                            <section class="profile-image-section">
                               
                                <section class="profile-img">
                                    <% if(userInfo?.profile_picture) {%>
                                        <img src="<%= '../uploads/profile/admin/' + userInfo.profile_picture %>" style="object-fit: cover;" alt="<%= userInfo.username %> image" srcset="">
                                        
                                    <% } else { %>
                                    <img src="../img/author/default_profile_image.jpg" style="object-fit: cover;" alt="<%= userInfo.username %> image" srcset="">
                                    <% } %>
                                </section>
                                
                                <section class="profile-description">
                                   <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
                                </section>

                            </section>

                            <section class="profile-content-section">
                                
                                <p class="username"> <%= userInfo.username %> </p>
                               
                                <% if(userInfo.full_name === null || userInfo.full_name === '') {%>
                                    <p class="fullname"> <a href="/asta-admin/editprofile" style="text-decoration: none;"> Add Name</a> </p>
                                <% } else { %>
                                    <p class="fullname"> <%= userInfo.full_name %> </p>
                                <% } %>

                                <% if(userInfo?.location) {%>
                                <p class="address"><%= userInfo.location %></p>
                                <% } else { %>
                                    <p class="address"><a href="/asta-admin/editprofile" style="text-decoration: none;"> Add Address</a></p>

                                <% } %>
                                <p class="email"><a href="mailto:<%=userInfo.email%>" style="text-decoration: none; color: #201f1f;"><%= userInfo.email %></a></p>
                                
                                <% if(userInfo?.full_name && userInfo?.location) { %>
                                <button type="submit" class="edit-profile"> Edit </button>
                                <% } else { %>
                                    <button type="submit" class="edit-profile" style="display: none;"> Edit </button>
                                <% }%>
                            </section>

                        </form>

                    </section>


            <!-- Profile section ends -->

<%- include('./partials/__footer.ejs') %>