<%- include('./partials/__header.ejs') %>

    <%- include('./partials/__sidebar.ejs') %>
        <%- include('./partials/__navbar.ejs') %>
            <!-- // Header ends -->

            <!-- Card -->
            <section class="card-container">

                <section class="card-heading">
                    <h4>Users</h4> 
                </section>


                    <%- include('./partials/__table.ejs') %>


<%- include('./partials/__footer.ejs') %>