
        <!-- Header starts here -->
        <%- include('./partials/__header.ejs') %>
        <!-- Header ends here--->
        <section class="main-content-container">
            <!-- Sidebar content start -->
                <%- include('./partials/__sidebar.ejs') %>
            <!-- Sidebar content ends -->

            <!-- Main content starts here -->
            <main>
                <% for(let posts of articles) { %>
                <section class="blog-summary-title">

                    <section class="main-title-text">
                        <a href="/post/<%=posts.id %>" class="blog-tagline">
                            <% if(posts && posts.image) { %>
                              <img src="<%= '../uploads/post/' + posts.image %>">
                          <% }else { %>
                  
                              <img src="../img/default_no_image.jpg" alt="Article Photo">
                              
                          <% } %>
                            <span>
                             <%= posts.title %>
                            </span>
                          </a>
                            <section class="blog-action-container">
                                <% let postedMonthArr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>

          <% let getDatePostedAt = new Date(posts.created_at) %>

          <% let FullDatePostedAt = {
              month: postedMonthArr[getDatePostedAt.getMonth()],
              day: getDatePostedAt.getDate(),
              year: getDatePostedAt.getFullYear()
          } %>

          <% FullDatePostedAt.day < 10 ? FullDatePostedAt.day = '0' + FullDatePostedAt.day : FullDatePostedAt.day %>

          <a href="/post/<%= posts.id %>" class="blog-action-center">
            <span class="recent-news-date"><%= FullDatePostedAt.month %> <%= FullDatePostedAt.day %>, <%= FullDatePostedAt.year %></span> /
                    <% if(posts.username) { %>
                        
                    <span class="recent-news-author">By &nbsp; <%= posts.username %></span>
                    <% } %> /
                    <span class="fa fa-comment comment-count"> &nbsp; <% if(posts.totalComments) { %><%= posts.totalComments %><% } else { %><%= 0 %><% } %></span>

                    <a class="blog-action-center" data-type="like" id="reaction_btn"><i
                        class="fa fa-thumbs-up" id="react_post"> <%= posts.total_reaction %> <span class="like-count"></span> </i></a>
                                </a>
                            </section>
                    </section>
                    <p class="blog-summary-main-content">
                        <%- posts.body.substring(0, 500) %>....
                    </p>
                    <section class="blog-summary-read-more">
                        <a href="/post/<%= posts.id %>">Read More</a>
                    </section>
                </section>

                <% } %>

            </main>
        </section>
        <div style="margin-bottom: 5em;"></div>
    </section>
   
    <!-- Include footer section -->
     <%- include('../user/partials/__footer.ejs') %>