<aside>
    <section class="text-wadget">
        <h2>Subscribe to our News Letter</h2>
        <p>Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Etiam porta sem malesuada.</p>
    </section>
    <section class="recent-news">
        <h3 class="recent-post-text"> Recent Post</h3>
        <% for(let post of articles) { %>
        <section class="recent-news-container">
            <% if(post && post.image) { %>
                <img src="<%= '../uploads/post/' + post.image %>">
            <% }else { %>

                <img src="../img/default_no_image.jpg" alt="Article Photo">
                
            <% } %>
            <section class="recent-news-text">
                <h4>
                    <a href="/post/<%= post.id %>"><%= post.title.substring(0, 50) %>......</a>
                </h4>
                <section class="recent-news-date-container">
                    <% let monthArr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>

                    <% let getDateAt = new Date(post.created_at) %>

                    <% let postedAt = {
                        month: monthArr[getDateAt.getMonth()],
                        day: getDateAt.getDate(),
                        year: getDateAt.getFullYear()
                    } %>

                    <% postedAt.day < 10 ? postedAt.day = '0' + postedAt.day : postedAt.day %>
                    
                    <span class="recent-news-date"><%= postedAt.month %> <%= postedAt.day %>, <%= postedAt.year %></span>
                    <% if(post.full_name) { %>
                    <span class="recent-news-author">By &nbsp; <%= post.username %></span>
                    <% } %>
                        
                </section>

            </section>
        </section>
        <% } %>

    </section>
</aside>