<!-- Include header -->
<%- include('./partials/__header.ejs') %>

<section class="main-content-container">
  <!-- Include sidebar -->
  <%- include('./partials/__sidebar.ejs') %>
  <!-- Main content starts here -->
  <main>
    <% for(let article of articles) { %>
    <section class="blog-summary-title">
      <section class="main-title-text">
        <a href="/post/<%=article.id %>" class="blog-tagline">
          <% if(article && article.image) { %>
            <img src="<%= '../uploads/post/' + article.image %>">
        <% }else { %>

            <img src="../img/default_no_image.jpg" alt="Article Photo">
            
        <% } %>
          <span>
           <%= article.title %>
          </span>
        </a>
        <section class="blog-action-container">
          <% let postedMonthArr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>

          <% let getDatePostedAt = new Date(article.created_at) %>

          <% let FullDatePostedAt = {
              month: postedMonthArr[getDatePostedAt.getMonth()],
              day: getDatePostedAt.getDate(),
              year: getDatePostedAt.getFullYear()
          } %>

          <% FullDatePostedAt.day < 10 ? FullDatePostedAt.day = '0' + FullDatePostedAt.day : FullDatePostedAt.day %>

          <a href="/post/<%= article.id %>" class="blog-action-center">
            <span class="recent-news-date"><%= FullDatePostedAt.month %> <%= FullDatePostedAt.day %>, <%= FullDatePostedAt.year %></span> /
                    <% if(article.username) { %>
                        
                    <span class="recent-news-author">By &nbsp; <%= article.username %></span>
                    <% } %> /
            <span class="fa fa-comment  comment-count"> &nbsp; <%= article.totalComments %></span>

            <a class="blog-action-center" data-type="like" id="reaction_btn"><i
              class="fa fa-thumbs-up" id="react_post"> <span class="like-count"></span> </i></a>
          </a>
        </section>
      </section>
      <p class="blog-summary-main-content" style="background: #fff;">
        <%- article.body.substring(0, 500) %>....
      </p>
      <section class="blog-summary-read-more">
        <a href="/post/<%= article.id %>">Read More</a>
      </section>
    </section>
    <% } %>

  </main>
</section>

<!-- Include footer -->
<%- include('./partials/__footer.ejs') %>
