
      <!-- Header starts here -->
      <%- include('./partials/__profileheader.ejs') %>
      <!-- Header ends here--->
       
      <section class="main-profile-container"  id="main-container"style="background: #f9f9f9;">
        <!-- Sidebar content start -->
        <span style="color: red; text-align: center;font-size: 0.9rem;"><%= message %> </span>

        <section class="user-profile-main-container">

          <% for (let userDetails of userDetail) { %>
          <section class="user-profile-image">
            <section class="profile-image">

              <img src="<%= userDetails && userDetails.profile_picture ? '../uploads/profile/' + userDetails.profile_picture : '../img/author/default_profile_image.jpg' %>"  alt="<%= userDetails.username %> profile image">

            </section>
            <section class="user-primary-info">      
              
              <% if(userDetails.full_name !== null) { %>
              <p><strong>Full Name</strong> <br> <%= userDetails.full_name %> </p>
              <% } else { %>
                <p><strong><a href="/edit/profile" style="font-weight: 300; text-decoration: none;">Add Full Name</a></strong> <br> </p>
              <% } %>

              <p><strong>Username</strong> <br> @<%= userDetails.username %></p>

              <section><strong>Profession</strong> <br><span>Graphic Designer</span> | <span>Web Developer</span></section>
            </section>
            
            <section class="social-icon">
              <ul>
                <li>
                  <a href="#"
                  ><i class="fa-brands fa-facebook-f"></i></a
                ></li>
                <li>
                  <a href="mailto:<%= userDetails.email%>"
                  ><i class="fa fa-envelope"></i></a
                ></li>
                <li>
                  <a href="#"
                  ><i class="fa-brands fa-twitter"></i></a
                ></li>
              </ul>
            </section>

            <section class="edit-profile-btn">
              <a href="/edit/profile">Edit Profile</a>
            </section>
          </section>

          <section class="user-profile-info">

            <section class="bio">
              <% if(userDetails.bio !== null) { %>
              <strong>Bio</strong>
              <p><%= userDetails.bio %></p>
              <% } else { %>
                
              <p><strong><a href="/edit/profile" style="font-weight: 300; text-decoration: none;">Add Bio</a></strong> </p>
              <% } %>
            </section>
            
            <% if(userDetails.location !== null ) { %>
            <p><strong>Address</strong> <br><address><%= userDetails.location %></address></p>
            <% } else { %>
              <p><strong><a href="/edit/profile" style="font-weight: 300; text-decoration: none;">Add Address</a></strong> </p>
            <% } %>
          </section>
          <% } %>
        </section>

      </section>
    </section>
  

    <%- include('./partials/__profilefooter') %>